<%- include ("partials/headers") %>

<title><%= title %></title>
<link rel="stylesheet" href="/css/style.css">

<%- include ("partials/nav.ejs") %>

<h3><%= title %></h3>
 
<script src="/js/<%= jsFile %>"></script>

</body>

</html>