<%- include ("partials/headers.ejs") %>

<title><%= title %></title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/<%= cssFile %>">

<%- include ("partials/nav.ejs") %>
<h3><%= title %></h3>
<div id="board"></div>

<script src="/js/<%= jsFile %>" charset="utf-8"></script>
</body>

</html>